@charset "UTF-8";

.searchButtonli {
	margin-right: 150px;
	width: 60px;
	float: right;
	/* 		display:inline-block */
}

.searchInput {
	
}

.searchInputOutside {
	display: inline-block;
}

.searchButton {
	width: 36px;
	height: 36px;
}