USE [master]
GO
/****** Object:  Database [EEIT100]    Script Date: 2018/4/21 下午 01:43:59 ******/
CREATE DATABASE [EEIT100]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'EEIT100', FILENAME = N'I:\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\EEIT100.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'EEIT100_log', FILENAME = N'I:\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\EEIT100_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [EEIT100].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [EEIT100]
GO
USE [EEIT100]
GO
/****** Object:  Table [dbo].[Cart]    Script Date: 2018/4/21 下午 01:43:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cart](
	[seqNo] [int] NULL,
	[orderNo] [int] NULL,
	[pro_id] [varchar](30) NULL,
	[orderDate] [varchar](20) NULL,
	[shippingDate] [varchar](20) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[product]    Script Date: 2018/4/21 下午 01:44:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[product](
	[pro_id] [varchar](30) NOT NULL,
	[pro_name] [varchar](30) NULL,
	[price] [varchar](10) NULL,
	[brand] [varchar](30) NULL,
	[stock] [int] NULL,
	[discount] [varchar](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[pro_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
USE [master]
GO
